<div class="classe-principal">
    <div class = "posicaoCadastro">
        <div class="container">
            <h2 class = "textoCadastro">Cadastro</h2>
            <form class ="areaCadastro">

                <input type="text" placeholder="Usuário">

                <input type="text" placeholder="E-mail">
        
                <input type="password" placeholder="Senha">

                <input type="password" placeholder="Confirmar Senha">

                <button type="submit" class = "cadastro"> Cadastre-se</button>
            </form>
        </div>
    </div>
</div>