<div class="classe-principal">
    <div class = "posicaoCadastro">
        <div class="container">
            <h1>Forja ficha</h1>
            <h2 class = "textoCadastro">Cadastro</h2>
            <form class ="areaCadastro" [formGroup]="cadastroForm" (ngSubmit)="onCadastro()">

                <input type="text" placeholder="Usuário" formControlName="username">

                <input type="text" placeholder="E-mail" formControlName="email">
        
                <input type="password" placeholder="Senha" formControlName="password">

                <input type="password" placeholder="Confirmar Senha" formControlName="re_password">
                
                <div class="areaCadastro">
                    <button type="submit"> Cadastre-se</button>
                </div>      
                 <div class="links">
            <a routerLink = "/login" > Já possuo cadastro</a>
          </div>
            </form>
        </div>
    </div>
</div>