<div class="classe-principal">
    <div class = "posicaoCadastro">
        <div class="container">
            <h1>Forja ficha</h1>
            <h2 class = "textoCadastro">Cadastro</h2>
            <form class ="areaCadastro" (submit)="Cadastrar()">

                <input type="text" placeholder="Usuário">

                <input type="text" placeholder="E-mail">
        
                <input type="password" placeholder="Senha">

                <input type="password" placeholder="Confirmar Senha">
                
                <div class="areaCadastro">
                    <button type="submit" class = "cadastro"> Cadastre-se</button>
                </div>
                
            </form>
        </div>
    </div>
    <router-outlet></router-outlet>
</div>