<div class = "container"> 

    <div class = "esquerda"> 

        <div class="menu">
            <button class="botaoImg" routerLink = "/home">
                <img src="/icon/voltar.svg" alt="Editar" width="24" height="24">
            </button>
            <div>
                <img src="/imgs/fotoDefault.png" width="100" height="100">
                <h2>Nome Usuario</h2>
                <p>email&#64;gmail.com</p>
            </div>
        </div>
    </div>
    
    <div class = "direita">
        <h1>Nome Ficha</h1>
        <div class="verFicha">
           
    <div class = "centro">
            <div>
                                <label for="nome-personagem">NOME DO PERSONAGEM</label>
                                <input type="text" id="nome-personagem">
                            </div>
                            <div>
                                <label for="classe-nivel">CLASSE E NÍVEL</label>
                                <input type="text" id="classe-nivel">
                            </div>
                            <div>
                                <label for="antecedente">ANTECEDENTE</label>
                                <input type="text" id="antecedente">
                            </div>
                            <div>
                                <label for="nome-jogador">NOME DO JOGADOR</label>
                                <input type="text" id="nome-jogador">
                            </div>

                              <div>
                                <label for="raca">RAÇA</label>
                                <input type="text" id="raca">
                            </div>
                            <div>
                                <label for="tendencia">TENDÊNCIA</label>
                                <input type="text" id="tendencia">
                            </div>
                            <div>
                                <label for="pontos-experiencia">PONTOS DE EXPERIÊNCIA</label>
                                <input type="number" id="pontos-experiencia">
                            </div>
                            <h2>ATRIBUTOS</h2>
                            <div>
                                <label for="forca">FORÇA</label>
                                <input type="number" id="forca">
                                <input type="text" placeholder="Modificador">
                            </div>
                            <div>
                                <label for="destreza">DESTREZA</label>
                                <input type="number" id="destreza">
                                <input type="text" placeholder="Modificador">
                            </div>
                            <div>
                                <label for="constituicao">CONSTITUIÇÃO</label>
                                <input type="number" id="constituicao">
                                <input type="text" placeholder="Modificador">
                            </div>
                            <div>
                                <label for="inteligencia">INTELIGÊNCIA</label>
                                <input type="number" id="inteligencia">
                                <input type="text" placeholder="Modificador">
                            </div>
                            <div>
                                <label for="sabedoria">SABEDORIA</label>
                                <input type="number" id="sabedoria">
                                <input type="text" placeholder="Modificador">
                            </div>
                            <div >
                                <label for="carisma">CARISMA</label>
                                <input type="number" id="carisma">
                                <input type="text" placeholder="Modificador">
                            </div>

                             <div>
                                <label for="inspiracao">INSPIRAÇÃO</label>
                                <input type="checkbox" id="inspiracao">
                            </div>
                            <div>
                                <label for="bonus-proficiencia">BÔNUS DE PROFICIÊNCIA</label>
                                <input type="text" id="bonus-proficiencia">
                            </div>
                            <h2>TESTES DE RESISTÊNCIA</h2>
                            <div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Força</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Destreza</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Constituição</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Inteligência</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Sabedoria</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Carisma</label></div>
                            </div>
                         <h2>PERÍCIAS</h2>
                            <div class="checkbox-group">
                                <div class="checkbox-item"><input type="checkbox"> <label>Acrobacia (Des)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Arcanismo (Int)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Atletismo (For)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Atuação (Car)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Blefar (Car)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Furtividade (Des)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>História (Int)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Intimidação (Car)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Intuição (Sab)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Investigação (Int)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Lidar com Animais (Sab)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Medicina (Sab)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Natureza (Int)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Percepção (Sab)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Persuasão (Car)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Prestidigitação (Des)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Religião (Int)</label></div>
                                <div class="checkbox-item"><input type="checkbox"> <label>Sobrevivência (Sab)</label></div>
                            </div>
                            <div>
                            <label for="sabedoria-passiva">SABEDORIA PASSIVA (PERCEPÇÃO)</label>
                            <input type="number" id="sabedoria-passiva">
                        </div>

                        <div>
                            <h2>IDIOMAS E OUTRAS PROFICIÊNCIAS</h2>
                            <textarea></textarea>
                        </div>
                    </div>

                      <div>
                                <label for="ca">CLASSE DE ARMADURA</label>
                                <input type="number" id="ca" class="small-input">
                            </div>
                            <div>
                                <label for="iniciativa">INICIATIVA</label>
                                <input type="number" id="iniciativa" class="small-input">
                            </div>
                            <div>
                                <label for="desloc">DESLOC.</label>
                                <input type="number" id="desloc" class="small-input">
                            </div>
                               <div>
                            <label for="pv-totais">PV TOTAIS</label>
                            <input type="number" id="pv-totais">

                            <label for="pv-atuais">PONTOS DE VIDA ATUAIS</label>
                            <input type="number" id="pv-atuais">

                            <label for="pv-temporarios">PONTOS DE VIDA TEMPORÁRIOS</label>
                            <input type="number" id="pv-temporarios">
                        </div>

                          <div>
                                <label for="dados-vida">DADOS DE VIDA</label>
                                <input type="text" id="dados-vida">
                            </div>
                            <div>
                                <label>TESTES CONTRA A MORTE</label>
                                <div class="flex-row">
                                    <div class="checkbox-item"><input type="checkbox"> <label>SUCESSOS</label></div>
                                    <div class="checkbox-item"><input type="checkbox"> <label>SUCESSOS</label></div>
                                    <div class="checkbox-item"><input type="checkbox"> <label>SUCESSOS</label></div>
                                </div>
                                <div>
                                    <div class="checkbox-item"><input type="checkbox"> <label>FRACASSOS</label></div>
                                    <div class="checkbox-item"><input type="checkbox"> <label>FRACASSOS</label></div>
                                    <div class="checkbox-item"><input type="checkbox"> <label>FRACASSOS</label></div>
                                </div>
                                  <div>
                            <h2>ATAQUES E MAGIAS</h2>
                            <div>
                                <div class="small-box">NOME</div>
                                <div class="small-box">BÔNUS</div>
                                <div class="small-box">DANO / TIPO</div>
                            </div>
                            <div>
                                <input type="text">
                                <input type="text">
                                <input type="text">
                            </div>
                            <div >
                                <input type="text">
                                <input type="text">
                                <input type="text">
                            </div>
                            <div>
                                <input type="text">
                                <input type="text">
                                <input type="text">
                            </div>
                            <textarea style="margin-top: 10px;"></textarea>
                        </div>

                        <div>
                            <h2>EQUIPAMENTO</h2>
                            <textarea></textarea>
                        </div>

                        <div>
                            <h2>CARACTERÍSTICAS E HABILIDADES</h2>
                            <textarea></textarea>
                        </div>

                        <div>
                            <h2>TRAÇOS DE PERSONALIDADE</h2>
                            <textarea class="large-text-area"></textarea>
                        </div>
                        <div>
                            <h2>IDEIAS</h2>
                            <textarea class="large-text-area"></textarea>
                        </div>

                     <div>
                            <h2>LIGAÇÕES</h2>
                            <textarea class="large-text-area"></textarea>
                        </div>
                        <div>
                            <h2>DEFEITOS</h2>
                            <textarea class="large-text-area"></textarea>
                        </div>

                         <div>
                    <label for="idade">IDADE</label>
                    <input type="text" id="idade">
                </div>
                <div>
                    <label for="altura">ALTURA</label>
                    <input type="text" id="altura">
                </div>
                <div>
                    <label for="peso">PESO</label>
                    <input type="text" id="peso">
                </div>
                <div>
                    <label for="olhos">OLHOS</label>
                    <input type="text" id="olhos">
                </div>
                <div>
                    <label for="pele">PELE</label>
                    <input type="text" id="pele">
                </div>
                <div>
                    <label for="cabelos">CABELOS</label>
                    <input type="text" id="cabelos">
                </div>
         <div>
                <h3>APARÊNCIA DO PERSONAGEM</h3>
                <div>
                    <p>Espaço para Descrição</p>
                </div>
                <textarea style="min-height: 200px;"></textarea>
            </div>

            <div>
                <h2>HISTÓRIA DO PERSONAGEM</h2>
                <textarea style="min-height: 300px;"></textarea>
            </div>
             <div>
                <h2>ALIADOS E ORGANIZAÇÕES</h2>
                <textarea style="min-height: 200px;"></textarea>
            </div>

            <div>
                <div class="section-2" style="border: 1px solid #ddd; padding: 10px; margin-bottom: 10px;">
                    <label for="nome-simbolo">NOME</label>
                    <input type="text" id="nome-simbolo">
                    <div class="image-box" style="height: 150px;">
                        <p>Espaço para Símbolo</p>
                    </div>
                    <div class="small-box-title">SÍMBOLO</div>
                </div>

                <h2>OUTRAS CARACTERÍSTICAS E HABILIDADES</h2>
                <textarea style="min-height: 200px;"></textarea>
            </div>

            <div>
                <h2>TESOURO</h2>
                <textarea style="min-height: 200px;"></textarea>
            </div>
            <div >
                <label for="classe-conjurador">CLASSE DE CONJURADOR</label>
                <input type="text" id="classe-conjurador">
            </div>
            <div>
                <label for="habilidade-chave">HABILIDADE CHAVE</label>
                <input type="text" id="habilidade-chave">
            </div>
            <div>
                <label for="cd-tr">CD DO TR</label>
                <input type="text" id="cd-tr">
            </div>
            <div>
                <label for="bonus-ataque">BÔNUS DE ATAQUE</label>
                <input type="text" id="bonus-ataque">
            </div>
            <div class="spell-level-section">
                <div class="spell-level-header">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <h1>0</h1>
                    <h2>TRUQUES</h2>
                </div>
                <ul class="spell-list">
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                </ul>
                <div class="spell-slot-info">
                    <div>
                        <label for="truques-pv-total">PV TOTAL</label>
                        <input type="text" id="truques-pv-total">
                    </div>
                    <div>
                        <label for="truques-espacos-usados">ESPAÇOS USADOS</label>
                        <input type="text" id="truques-espacos-usados">
                    </div>
                </div>
            </div>

            <div class="spell-level-section">
                <div class="spell-level-header">
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <h1>1</h1>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                    <div class="circle"></div>
                </div>
                <label for="nome-magia-1">NOME DA MAGIA</label>
                <ul class="spell-list">
                    <li><input type="checkbox"><input type="text" id="nome-magia-1"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                    <li><input type="checkbox"><input type="text"></li>
                </ul>
                <div class="spell-slot-info">
                    <div>
                        <label for="lvl1-espacos-total">ESPAÇOS TOTAL</label>
                        <input type="text" id="lvl1-espacos-total">
                    </div>
                    <div>
                        <label for="lvl1-espacos-usados">ESPAÇOS USADOS</label>
                        <input type="text" id="lvl1-espacos-usados">
                    </div>
                </div>
            </div>
        </div>
    </div>