<div class="classe-principal">
    <div class = "posicaoLogin">
      <div class = "container">
        <h1>Forja ficha</h1>
        <h2 class = "textoLogin">Login</h2>
      
        <form class ="areaLogin" [formGroup]="loginForm" (ngSubmit)="onLogin()">
          <input type="text" placeholder="Usuário" formControlName = "username">
          
          <input type="password" name="senha" placeholder="Senha" formControlName = "password">
  
          <button type="submit" class = "entrar"> Entrar </button>
          <div class="links">
            <a routerLink = "/cadastro" > Cadastre-se </a>
          </div>
        </form>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>