<div class="classe-principal">
    <div class = "posicaoLogin">
      <div class = "container">
        <h1>Forja ficha</h1>
        <h2 class = "textoLogin">Login</h2>
      
        <form class ="areaLogin">
          <input type="text" placeholder="Usuário">
          
          <input type="password" placeholder="Senha">
  
          
          <button type="submit" class = "entrar" routerLink = "/home"> Entrar </button>
          <div class="links">
            <a href="#">Esqueceu sua senha?</a>
            <a routerLink = "/cadastro" > Cadastre-se </a>
          </div>
        </form>
      </div>
    </div>
    <router-outlet></router-outlet>
  </div>