<div class="classe-principal">
  
  <div class = "posicaoLogin">
    
    <div class = "container">
      <h2 class = "textoLogin">Login</h2>
      
      <form class ="areaLogin">
        <input type="text" placeholder="Usuário">
        
        <input type="password" placeholder="Senha">

        <div class="textoEsquecido">
          <a href="#">Esqueceu a sua seha?</a>
        </div>
        <button type="submit" class = "entrar"> Entrar </button>
        <div class="textoRegistro">
          Não tem uma conta? <a href="#">Cadastre-se</a>
        </div>
      </form>

    </div>
  </div>
</div>