.container
    height: 100vh
    width: 100vw
    display: flex
    justify-content: center
    align-items: center
    background: url('/imgs/telaFundo.png') no-repeat center center
    background-size: cover
    display: flex
    text-align: center
    gap: 20px
    padding: 20px

.esquerda, .centro, .direita
    height: 90vh
    max-height: 800px
    border-radius: 10px
    box-shadow: 4px 6px rgba(0, 0, 0, 0.1)
    padding: 20px
    display: flex
    flex-direction: column
    justify-content: flex-start

.esquerda, .direita
    width: 20%
    background-color:rgb(245, 221, 169)
    flex: 30%


.centro
    width: 55%
    background-color: rgb(243, 237, 224)
    overflow: hidden

// Ajustar posição dos ícones
.menu
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 10px
    margin-top: -10px // Sobe os ícones

.botaoImg
    all: unset
    cursor: pointer
    font-size: 20px
    display: flex
    align-items: center
    justify-content: center
    height: 45px
    width: 45px
    border-radius: 50%


.listaFichaE, .listaFichaD
    flex-grow: 1
    overflow-y: auto
    margin: 20px
    height: 58vh
    padding: 20px

.listaFichaD
    border-top: 2px solid rgba(133, 105, 14, 0.73)
    border-bottom: 2px solid rgba(133, 105, 14, 0.73)
    margin: 15px 0
    padding: 10px

.verFicha
    flex-grow: 1
    overflow-y: auto
    margin-top: 10px
    text-align: left
    line-height: 1.6
    padding-right: 10px

.add
    align-self: center
    height: 45px
    width: 45px
    border-radius: 50%
    background-color: rgb(243, 237, 224)
    border: none
    font-size: 24px
    cursor: pointer
    color: rgb(172, 28, 28)
    margin-top: 10px

    &:hover
        background-color: rgb(206, 200, 187)
        color: rgb(104, 61, 4)


ol
    list-style-type: none
    padding: 0

li
    padding: 13px
    margin: 8px 0
    background-color: rgba(255, 255, 255, 0.57)
    border-radius: 7px
    cursor: pointer
    align-items: center
    transition: background-color 0.3s ease

    &:hover
        background-color: rgb(206, 200, 187)

h1, h2
    font-family: girassol
    color: rgb(172, 28, 28)
    margin: 10px 0

p
    font-family: libre-bold