<div class = "container"> 

    <div class = "esquerda"> 

        <div class="menu">
            <button class="botaoImg">
                <img src="/icon/editar.svg" alt="Editar" width="24" height="24">
            </button>
            <div>
                <img src="/imgs/fotoDefault.png" width="100" height="100">
                <h2>{{ userData?.username }}</h2>
                <p>{{ userData?.email }}</p>
            </div>
            <button class="botaoImg" routerLink = "/login" >
                  <img src="/icon/saida.svg" alt="Editar" width="24" height="24">
            </button>
        </div>
        <router-outlet></router-outlet>
        
        <div class="listaFichaE">
            <h2>Fichas Criadas</h2>
            <ol *ngIf="fichas && fichas.length > 0">
                <li *ngFor="let ficha of fichas" (click)="selecionarFicha(ficha)" 
                    [class.selecionado]="ficha.id_ficha === fichaSelecionada?.id_ficha"> 
                    {{ ficha.nomePerso }}
                </li>
            </ol>
        </div>
        <div class = "menu">
          <button class="botaoImg">
                <img src="/icon/excluir.svg" alt="Editar" width="24" height="24">
            </button>

        <button class="add" onclick="">+</button>

          <button class="botaoImg">
                <img src="/icon/verificar.svg" alt="Editar" width="24" height="24">
            </button>  
            </div>
    </div>
    
    <div class = "centro">
        <h1>Nome Ficha</h1>
        <div class="verFicha">
            <p> 
                O mundo está mudado.<br>
                Eu sinto isso na água.<br>
                Eu sinto isso na terra.<br>
                Eu farejo isso no ar.<br>
                Muito do que já existiu se perdeu...<br>
                Pois não há mais ninguém vivo que se lembre.<br>
                Tudo começou com a forja dos grandes anéis.<br>
                Três foram dados aos Elfos imortais... Os mais sábios e belos de todos os seres.<br>
                Sete, aos senhores dos Anões... Grandes mineradores e artífices dos corredores das montanhas.<br>
                E nove, nove anéis foram dados à raça dos homens... Que, acima de tudo desejavam poder.<br>
                Pois, dentro desses anéis foi selada a força e a vontade para governar cada raça.<br>
                Mas todos foram enganados.<br>
                Pois outro anel foi forjado.<br>
                Na terra de Mordor, nas chamas da montanha da perdição Sauron, o Senhor do Escuro forjou em segredo um anel mestre, para controlar todos os outros.
                E nesse anel, ele derramou sua crueldade, sua malícia e sua vontade de dominar todas as formas de vida.<br>
                Um anel para todas governar.<br>
                Uma por uma as terras livres da Terra-Média submeteram-se ao poder do anel.<br>
                Mas houve alguns que resistiram.<br>
                A última aliança entre Homens e Elfos marcgou contra os exércitos de Mordor.<br>
                E, na montanha da perdição, lutou pela liberdade da Terra-Média.<br>
                A vitória estava próxima.<br>
                Mas o poder do anel não podia ser destruido.<br>
                Foi nesse momento, quando toda a esperança havia minguado que Isildur, o filgo do rei ergueu a espada do sei pai.<br>
                Sauron, o inimigo dos povos livres da Terra-Média foi derrotado.<br> 
                O mundo está mudado.<br>
                Eu sinto isso na água.<br>
                Eu sinto isso na terra.<br>
                Eu farejo isso no ar.<br>
                Muito do que já existiu se perdeu...<br>
                Pois não há mais ninguém vivo que se lembre.<br>
                Tudo começou com a forja dos grandes anéis.<br>
                Três foram dados aos Elfos imortais... Os mais sábios e belos de todos os seres.<br>
                Sete, aos senhores dos Anões... Grandes mineradores e artífices dos corredores das montanhas.<br>
                E nove, nove anéis foram dados à raça dos homens... Que, acima de tudo desejavam poder.<br>
                Pois, dentro desses anéis foi selada a força e a vontade para governar cada raça.<br>
                Mas todos foram enganados.<br>
                Pois outro anel foi forjado.<br>
                Na terra de Mordor, nas chamas da montanha da perdição Sauron, o Senhor do Escuro forjou em segredo um anel mestre, para controlar todos os outros.
                E nesse anel, ele derramou sua crueldade, sua malícia e sua vontade de dominar todas as formas de vida.<br>
                Um anel para todas governar.<br>
                Uma por uma as terras livres da Terra-Média submeteram-se ao poder do anel.<br>
                Mas houve alguns que resistiram.<br>
                A última aliança entre Homens e Elfos marcgou contra os exércitos de Mordor.<br>
                E, na montanha da perdição, lutou pela liberdade da Terra-Média.<br>
                A vitória estava próxima.<br>
                Mas o poder do anel não podia ser destruido.<br>
                Foi nesse momento, quando toda a esperança havia minguado que Isildur, o filgo do rei ergueu a espada do sei pai.<br>
                Sauron, o inimigo dos povos livres da Terra-Média foi derrotado.<br> 
            </p>
        </div>
    </div>

    <div class = "direita">
        <h1> Fichas Publicas </h1>
        <div class="listaFichaD">
            <ol>
                <li onclick=""> ficha 1 </li>
                <li onclick=""> ficha 1 </li>
            </ol>
        </div>
    </div>

</div>